//- /******************************************
    Treehouse Techdegree:
    FSJS project 6 - Static Node.js and Express Site
    Name: Brandon White
    Date of Last Modification: 23/11/2019
//- ******************************************/

extends layout.pug

block content 
    nav.grid-container.portfolio-breadcrumb
        a.back(href='/')
        //- ← Back
    article.grid-container.portfolio-intro.portfolio-project
        .grid-x.animated.fadeIn.slower
            .cell.small-6.medium-9.large-9

                h1= project_name

                p.lead.text-light.description
                    | #{description}

            .cell.portfolio-meta.small-6.medium-2.large-3
                h6 Technologies

                ul.technologies
                    each item in technologies
                        li= item

                a.button.expanded.project-link(href=`${live_link}`, target="_blank") Live Demo
                a.button.expanded.project-link(href=`${github_link}`, target="_blank") GitHub Repo
          
        img.image.animated.bounceInDown(src=`${image_urls.large_1}`)
        img.image.animated.bounceInDown(src=`${image_urls.large_2}`)
        img.image.animated.bounceInDown(src=`${image_urls.large_3}`)